alembic==1.17.2
Babel==2.17.0
fastapi==0.115.12
httpx==0.28.1
passlib==1.7.4
psycopg2-binary==2.9.10
pycountry==24.6.1
pydantic==2.11.4
pydantic-settings==2.12.0
python-jose==3.5.0
pytz==2025.2
SQLAlchemy==2.0.41
starlette==0.46.2
uvicorn==0.34.2
